<!DOCTYPE html>
<html>

<head>
    <title>Harmix</title>
</head>

<body>

<h2>Web Site Main Ingredients:</h2>

<form action="/" method="POST" enctype=multipart/form-data>
    <p>Pages (HTML)</p>
    <p>Style Sheets (CSS)</p>
    <p>Computer Code (JavaScript)</p>
    <p>Live Data (Files and Databases)</p>
    <label for="user_article_title">Type your article title</label>
    <input id="user_article_title" type="text" name="user_article_title">
    <button class="button" type="submit" value="Submit">Confirm</button>

</form>
</body>
</html>