Flask~=1.0.2
SQLAlchemy~=1.3.11
requests~=2.21.0
beautifulsoup4~=4.7.1
MyApplication~=0.1.0
googletrans~=2.4.0
pandas~=0.25.3
numpy~=1.17.0
matplotlib~=3.1.2
sklearn~=0.0
scikit-learn~=0.22
nltk~=3.4
textblob~=0.15.3
boto3~=1.10.25
selenium~=3.141.0
lxml~=4.3.2
Scrapy~=1.8.0
feedparser~=5.2.1
dateparser~=0.7.2
tqdm~=4.31.1
gunicorn~=20.0.4
Flask-SQLAlchemy~=2.4.1
psycopg2~=2.8.5
excel2json~=1.0.1