body {
	font-family:Arial, Helvetica, sans-serif;

}

h1, h2, h3, h4, h5, h6, blockquote, .post-review ul li, .post-review .comment_section p:before,
	.post-review .post_comment, .subcategory_container ul li a,
	.featured_image_credit, .post .post-category, .widget>strong,
	.menu-holder .sf-menu>li>a, .mobile-menu li a, .menu-holder ul li .sub-menu li a,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li>a,
	.mobile-menu .sub-menu li a, label, .featured_image_credit,
	.trending-bar, .woocommerce-MyAccount-navigation, .subheader, .post .post-bottom-meta,
	#subfooter, .btn, .button, input[type=submit], .widget.widget_topreviews .style1 li>a,
	.post.blog-post .single_category_title, .thb-login-form ul li,
	.woocommerce-tabs .tabs li, .thb-cart-empty p, .post-title-bullets li button span,
	.post .post-gallery .counts, .widget.widget_socialcounter ul li {
	font-family:Arial, Helvetica, sans-serif;
}

.subheader ul {
	
}

@media only screen and (min-width:48.063em) {
	.header {
		
	}
}

.header {
	background-color: #080808 !important;
}

@media only screen and (min-width:64.063em) {
	.header .logo .logoimg {
		max-height: 50px;
	}
}

@media only screen and (min-width:64.063em) {
	.subheader.fixed .logo .logolink .logoimg {
		max-height: 21px;
	}
}

a:hover, .menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.active a,
	.menu-holder ul li.sfHover>a, .subcategory_container .thb-sibling-categories li a:hover,
	label small, .more-link, .comment-respond .comment-reply-title small a,
	.btn.accent-transparent, .button.accent-transparent, input[type=submit].accent-transparent,
	.category_title.search span, .video_playlist .video_play.video-active .post-title h6,
	.menu-holder.dark ul li .sub-menu a:hover, .menu-holder.dark ul.sf-menu>li>a:hover
	{
	color: #2cd0ff;
}

ul.point-list li:before, ol.point-list li:before, .post .article-tags .tags-title,
	.post.post-overlay .post-gallery .counts, .post-review ul li .progress span,
	.post-review .average, .category-title.style1 .category-header, .widget.widget_topreviews .style1 li .progress,
	.btn.black:hover, .button.black:hover, input[type=submit].black:hover,
	.btn.white:hover, .button.white:hover, input[type=submit].white:hover,
	.btn.accent:hover, .button.accent:hover, input[type=submit].accent:hover,
	.btn.accent-transparent:hover, .button.accent-transparent:hover, input[type=submit].accent-transparent:hover,
	#scroll_totop:hover, .subheader.fixed>.row .progress {
	background-color: #2cd0ff;
}

.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder, .btn.black:hover,
	.button.black:hover, input[type=submit].black:hover, .btn.accent,
	.button.accent, input[type=submit].accent, .btn.white:hover, .button.white:hover,
	input[type=submit].white:hover, .btn.accent:hover, .button.accent:hover,
	input[type=submit].accent:hover, .btn.accent-transparent, .button.accent-transparent,
	input[type=submit].accent-transparent {
	border-color: #2cd0ff;
}

.post .article-tags .tags-title:after {
	border-left-color: #2cd0ff;
}

.rtl .post .article-tags .tags-title:after {
	border-right-color: #2cd0ff;
}





.header .quick_search.active .quick_search_icon {
	fill: #2cd0ff;
}

.post .post-content p a {
}

.post.carousel-listing.slick-current:after {
	-moz-box-shadow: inset 0 4px 0 0 #2cd0ff;
	-webkit-box-shadow: inset 0 4px 0 0 #2cd0ff;
	box-shadow: inset 0 4px 0 0 #2cd0ff;
}

.post .post-content p a:hover {
	background: #42ffff;
}

.subheader.fixed>.row .progress {
	background: #2cd0ff;
}

.post .post-category {
	
}

.widget>strong {
	
}

.menu-holder ul.sf-menu>li>a {
	
}

.menu-holder ul li .sub-menu li a, .menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li>a
	{
	
}

.header .menu-holder ul.sf-menu>li.menu-item-category-127>a:hover,
	.menu-holder.style1 ul.sf-menu>li.menu-item-category-127>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-127>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-127.active>a,
	.menu-holder ul li .sub-menu li.menu-item-category-127>a:hover, .post .single_category_title.category-link-127
	{
	color: #1b88cd;
}

.menu-holder ul.sf-menu>li.menu-item-category-127>a+.thb_mega_menu_holder
	{
	border-color: #1b88cd;
}

.post .single_category_title.category-boxed-link-127.boxed-link,
	.category_title.cat-127:before, .category-title.style1 .category-header.cat-127
	{
	background-color: #1b88cd;
}

.post.carousel-style2[data-catid="127"]:hover {
	background-color: #1b88cd;
}

.header .menu-holder ul.sf-menu>li.menu-item-category-42>a:hover,
	.menu-holder.style1 ul.sf-menu>li.menu-item-category-42>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-42>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-42.active>a,
	.menu-holder ul li .sub-menu li.menu-item-category-42>a:hover, .post .single_category_title.category-link-42
	{
	color: #fc58a9;
}

.menu-holder ul.sf-menu>li.menu-item-category-42>a+.thb_mega_menu_holder
	{
	border-color: #fc58a9;
}

.post .single_category_title.category-boxed-link-42.boxed-link,
	.category_title.cat-42:before, .category-title.style1 .category-header.cat-42
	{
	background-color: #fc58a9;
}

.post.carousel-style2[data-catid="42"]:hover {
	background-color: #fc58a9;
}

.header .menu-holder ul.sf-menu>li.menu-item-category-103>a:hover,
	.menu-holder.style1 ul.sf-menu>li.menu-item-category-103>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-103>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-103.active>a,
	.menu-holder ul li .sub-menu li.menu-item-category-103>a:hover, .post .single_category_title.category-link-103
	{
	color: #fc58a9;
}

.menu-holder ul.sf-menu>li.menu-item-category-103>a+.thb_mega_menu_holder
	{
	border-color: #fc58a9;
}

.post .single_category_title.category-boxed-link-103.boxed-link,
	.category_title.cat-103:before, .category-title.style1 .category-header.cat-103
	{
	background-color: #fc58a9;
}

.post.carousel-style2[data-catid="103"]:hover {
	background-color: #fc58a9;
}

.header .menu-holder ul.sf-menu>li.menu-item-category-140>a:hover,
	.menu-holder.style1 ul.sf-menu>li.menu-item-category-140>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-140>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-140.active>a,
	.menu-holder ul li .sub-menu li.menu-item-category-140>a:hover, .post .single_category_title.category-link-140
	{
	color: #501cf9;
}

.menu-holder ul.sf-menu>li.menu-item-category-140>a+.thb_mega_menu_holder
	{
	border-color: #501cf9;
}

.post .single_category_title.category-boxed-link-140.boxed-link,
	.category_title.cat-140:before, .category-title.style1 .category-header.cat-140
	{
	background-color: #501cf9;
}

.post.carousel-style2[data-catid="140"]:hover {
	background-color: #501cf9;
}

.header .menu-holder ul.sf-menu>li.menu-item-category-149>a:hover,
	.menu-holder.style1 ul.sf-menu>li.menu-item-category-149>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-149>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-149.active>a,
	.menu-holder ul li .sub-menu li.menu-item-category-149>a:hover, .post .single_category_title.category-link-149
	{
	color: #501cf9;
}

.menu-holder ul.sf-menu>li.menu-item-category-149>a+.thb_mega_menu_holder
	{
	border-color: #501cf9;
}

.post .single_category_title.category-boxed-link-149.boxed-link,
	.category_title.cat-149:before, .category-title.style1 .category-header.cat-149
	{
	background-color: #501cf9;
}

.post.carousel-style2[data-catid="149"]:hover {
	background-color: #501cf9;
}

.header .menu-holder ul.sf-menu>li.menu-item-category-5>a:hover,
	.menu-holder.style1 ul.sf-menu>li.menu-item-category-5>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-5>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-5.active>a,
	.menu-holder ul li .sub-menu li.menu-item-category-5>a:hover, .post .single_category_title.category-link-5
	{
	color: #fbc713;
}

.menu-holder ul.sf-menu>li.menu-item-category-5>a+.thb_mega_menu_holder
	{
	border-color: #fbc713;
}

.post .single_category_title.category-boxed-link-5.boxed-link,
	.category_title.cat-5:before, .category-title.style1 .category-header.cat-5
	{
	background-color: #fbc713;
}

.post.carousel-style2[data-catid="5"]:hover {
	background-color: #fbc713;
}

.header .menu-holder ul.sf-menu>li.menu-item-category-57>a:hover,
	.menu-holder.style1 ul.sf-menu>li.menu-item-category-57>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-57>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-57.active>a,
	.menu-holder ul li .sub-menu li.menu-item-category-57>a:hover, .post .single_category_title.category-link-57
	{
	color: #31d207;
}

.menu-holder ul.sf-menu>li.menu-item-category-57>a+.thb_mega_menu_holder
	{
	border-color: #31d207;
}

.post .single_category_title.category-boxed-link-57.boxed-link,
	.category_title.cat-57:before, .category-title.style1 .category-header.cat-57
	{
	background-color: #31d207;
}

.post.carousel-style2[data-catid="57"]:hover {
	background-color: #31d207;
}

.header .menu-holder ul.sf-menu>li.menu-item-category-26>a:hover,
	.menu-holder.style1 ul.sf-menu>li.menu-item-category-26>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-26>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-26.active>a,
	.menu-holder ul li .sub-menu li.menu-item-category-26>a:hover, .post .single_category_title.category-link-26
	{
	color: #fc58a9;
}

.menu-holder ul.sf-menu>li.menu-item-category-26>a+.thb_mega_menu_holder
	{
	border-color: #fc58a9;
}

.post .single_category_title.category-boxed-link-26.boxed-link,
	.category_title.cat-26:before, .category-title.style1 .category-header.cat-26
	{
	background-color: #fc58a9;
}

.post.carousel-style2[data-catid="26"]:hover {
	background-color: #fc58a9;
}

.header .menu-holder ul.sf-menu>li.menu-item-category-67>a:hover,
	.menu-holder.style1 ul.sf-menu>li.menu-item-category-67>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-67>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-67.active>a,
	.menu-holder ul li .sub-menu li.menu-item-category-67>a:hover, .post .single_category_title.category-link-67
	{
	color: #28d7bc;
}

.menu-holder ul.sf-menu>li.menu-item-category-67>a+.thb_mega_menu_holder
	{
	border-color: #28d7bc;
}

.post .single_category_title.category-boxed-link-67.boxed-link,
	.category_title.cat-67:before, .category-title.style1 .category-header.cat-67
	{
	background-color: #28d7bc;
}

.post.carousel-style2[data-catid="67"]:hover {
	background-color: #28d7bc;
}

.header .menu-holder ul.sf-menu>li.menu-item-category-85>a:hover,
	.menu-holder.style1 ul.sf-menu>li.menu-item-category-85>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-85>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-85.active>a,
	.menu-holder ul li .sub-menu li.menu-item-category-85>a:hover, .post .single_category_title.category-link-85
	{
	color: #1b88cd;
}

.menu-holder ul.sf-menu>li.menu-item-category-85>a+.thb_mega_menu_holder
	{
	border-color: #1b88cd;
}

.post .single_category_title.category-boxed-link-85.boxed-link,
	.category_title.cat-85:before, .category-title.style1 .category-header.cat-85
	{
	background-color: #1b88cd;
}

.post.carousel-style2[data-catid="85"]:hover {
	background-color: #1b88cd;
}

.header .menu-holder ul.sf-menu>li.menu-item-category-10>a:hover,
	.menu-holder.style1 ul.sf-menu>li.menu-item-category-10>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-10>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-10.active>a,
	.menu-holder ul li .sub-menu li.menu-item-category-10>a:hover, .post .single_category_title.category-link-10
	{
	color: #f30e0e;
}

.menu-holder ul.sf-menu>li.menu-item-category-10>a+.thb_mega_menu_holder
	{
	border-color: #f30e0e;
}

.post .single_category_title.category-boxed-link-10.boxed-link,
	.category_title.cat-10:before, .category-title.style1 .category-header.cat-10
	{
	background-color: #f30e0e;
}

.post.carousel-style2[data-catid="10"]:hover {
	background-color: #f30e0e;
}

.header .menu-holder ul.sf-menu>li.menu-item-category-148>a:hover,
	.menu-holder.style1 ul.sf-menu>li.menu-item-category-148>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-148>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-148.active>a,
	.menu-holder ul li .sub-menu li.menu-item-category-148>a:hover, .post .single_category_title.category-link-148
	{
	color: #1b88cd;
}

.menu-holder ul.sf-menu>li.menu-item-category-148>a+.thb_mega_menu_holder
	{
	border-color: #1b88cd;
}

.post .single_category_title.category-boxed-link-148.boxed-link,
	.category_title.cat-148:before, .category-title.style1 .category-header.cat-148
	{
	background-color: #1b88cd;
}

.post.carousel-style2[data-catid="148"]:hover {
	background-color: #1b88cd;
}

.header .menu-holder ul.sf-menu>li.menu-item-category-123>a:hover,
	.menu-holder.style1 ul.sf-menu>li.menu-item-category-123>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-123>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-123.active>a,
	.menu-holder ul li .sub-menu li.menu-item-category-123>a:hover, .post .single_category_title.category-link-123
	{
	color: #fbc713;
}

.menu-holder ul.sf-menu>li.menu-item-category-123>a+.thb_mega_menu_holder
	{
	border-color: #fbc713;
}

.post .single_category_title.category-boxed-link-123.boxed-link,
	.category_title.cat-123:before, .category-title.style1 .category-header.cat-123
	{
	background-color: #fbc713;
}

.post.carousel-style2[data-catid="123"]:hover {
	background-color: #fbc713;
}

.header .menu-holder ul.sf-menu>li.menu-item-category-40>a:hover,
	.menu-holder.style1 ul.sf-menu>li.menu-item-category-40>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-40>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-40.active>a,
	.menu-holder ul li .sub-menu li.menu-item-category-40>a:hover, .post .single_category_title.category-link-40
	{
	color: #fc58a9;
}

.menu-holder ul.sf-menu>li.menu-item-category-40>a+.thb_mega_menu_holder
	{
	border-color: #fc58a9;
}

.post .single_category_title.category-boxed-link-40.boxed-link,
	.category_title.cat-40:before, .category-title.style1 .category-header.cat-40
	{
	background-color: #fc58a9;
}

.post.carousel-style2[data-catid="40"]:hover {
	background-color: #fc58a9;
}

.header .menu-holder ul.sf-menu>li.menu-item-category-112>a:hover,
	.menu-holder.style1 ul.sf-menu>li.menu-item-category-112>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-112>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-112.active>a,
	.menu-holder ul li .sub-menu li.menu-item-category-112>a:hover, .post .single_category_title.category-link-112
	{
	color: #501cf9;
}

.menu-holder ul.sf-menu>li.menu-item-category-112>a+.thb_mega_menu_holder
	{
	border-color: #501cf9;
}

.post .single_category_title.category-boxed-link-112.boxed-link,
	.category_title.cat-112:before, .category-title.style1 .category-header.cat-112
	{
	background-color: #501cf9;
}

.post.carousel-style2[data-catid="112"]:hover {
	background-color: #501cf9;
}

.header .menu-holder ul.sf-menu>li.menu-item-category-133>a:hover,
	.menu-holder.style1 ul.sf-menu>li.menu-item-category-133>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-133>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-133.active>a,
	.menu-holder ul li .sub-menu li.menu-item-category-133>a:hover, .post .single_category_title.category-link-133
	{
	color: #fc58a9;
}

.menu-holder ul.sf-menu>li.menu-item-category-133>a+.thb_mega_menu_holder
	{
	border-color: #fc58a9;
}

.post .single_category_title.category-boxed-link-133.boxed-link,
	.category_title.cat-133:before, .category-title.style1 .category-header.cat-133
	{
	background-color: #fc58a9;
}

.post.carousel-style2[data-catid="133"]:hover {
	background-color: #fc58a9;
}

.header .menu-holder ul.sf-menu>li.menu-item-category-144>a:hover,
	.menu-holder.style1 ul.sf-menu>li.menu-item-category-144>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-144>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-144.active>a,
	.menu-holder ul li .sub-menu li.menu-item-category-144>a:hover, .post .single_category_title.category-link-144
	{
	color: #1b88cd;
}

.menu-holder ul.sf-menu>li.menu-item-category-144>a+.thb_mega_menu_holder
	{
	border-color: #1b88cd;
}

.post .single_category_title.category-boxed-link-144.boxed-link,
	.category_title.cat-144:before, .category-title.style1 .category-header.cat-144
	{
	background-color: #1b88cd;
}

.post.carousel-style2[data-catid="144"]:hover {
	background-color: #1b88cd;
}

.header .menu-holder ul.sf-menu>li.menu-item-category-96>a:hover,
	.menu-holder.style1 ul.sf-menu>li.menu-item-category-96>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-96>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-96.active>a,
	.menu-holder ul li .sub-menu li.menu-item-category-96>a:hover, .post .single_category_title.category-link-96
	{
	color: #28d7bc;
}

.menu-holder ul.sf-menu>li.menu-item-category-96>a+.thb_mega_menu_holder
	{
	border-color: #28d7bc;
}

.post .single_category_title.category-boxed-link-96.boxed-link,
	.category_title.cat-96:before, .category-title.style1 .category-header.cat-96
	{
	background-color: #28d7bc;
}

.post.carousel-style2[data-catid="96"]:hover {
	background-color: #28d7bc;
}

.header .menu-holder ul.sf-menu>li.menu-item-category-100>a:hover,
	.menu-holder.style1 ul.sf-menu>li.menu-item-category-100>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-100>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-100.active>a,
	.menu-holder ul li .sub-menu li.menu-item-category-100>a:hover, .post .single_category_title.category-link-100
	{
	color: #fbc713;
}

.menu-holder ul.sf-menu>li.menu-item-category-100>a+.thb_mega_menu_holder
	{
	border-color: #fbc713;
}

.post .single_category_title.category-boxed-link-100.boxed-link,
	.category_title.cat-100:before, .category-title.style1 .category-header.cat-100
	{
	background-color: #fbc713;
}

.post.carousel-style2[data-catid="100"]:hover {
	background-color: #fbc713;
}

.header .menu-holder ul.sf-menu>li.menu-item-category-20>a:hover,
	.menu-holder.style1 ul.sf-menu>li.menu-item-category-20>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-20>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-20.active>a,
	.menu-holder ul li .sub-menu li.menu-item-category-20>a:hover, .post .single_category_title.category-link-20
	{
	color: #fbc713;
}

.menu-holder ul.sf-menu>li.menu-item-category-20>a+.thb_mega_menu_holder
	{
	border-color: #fbc713;
}

.post .single_category_title.category-boxed-link-20.boxed-link,
	.category_title.cat-20:before, .category-title.style1 .category-header.cat-20
	{
	background-color: #fbc713;
}

.post.carousel-style2[data-catid="20"]:hover {
	background-color: #fbc713;
}

.header .menu-holder ul.sf-menu>li.menu-item-category-64>a:hover,
	.menu-holder.style1 ul.sf-menu>li.menu-item-category-64>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-64>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-64.active>a,
	.menu-holder ul li .sub-menu li.menu-item-category-64>a:hover, .post .single_category_title.category-link-64
	{
	color: #28d7bc;
}

.menu-holder ul.sf-menu>li.menu-item-category-64>a+.thb_mega_menu_holder
	{
	border-color: #28d7bc;
}

.post .single_category_title.category-boxed-link-64.boxed-link,
	.category_title.cat-64:before, .category-title.style1 .category-header.cat-64
	{
	background-color: #28d7bc;
}

.post.carousel-style2[data-catid="64"]:hover {
	background-color: #28d7bc;
}

.header .menu-holder ul.sf-menu>li.menu-item-category-90>a:hover,
	.menu-holder.style1 ul.sf-menu>li.menu-item-category-90>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-90>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-90.active>a,
	.menu-holder ul li .sub-menu li.menu-item-category-90>a:hover, .post .single_category_title.category-link-90
	{
	color: #f30e0e;
}

.menu-holder ul.sf-menu>li.menu-item-category-90>a+.thb_mega_menu_holder
	{
	border-color: #f30e0e;
}

.post .single_category_title.category-boxed-link-90.boxed-link,
	.category_title.cat-90:before, .category-title.style1 .category-header.cat-90
	{
	background-color: #f30e0e;
}

.post.carousel-style2[data-catid="90"]:hover {
	background-color: #f30e0e;
}

.header .menu-holder ul.sf-menu>li.menu-item-category-47>a:hover,
	.menu-holder.style1 ul.sf-menu>li.menu-item-category-47>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-47>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-47.active>a,
	.menu-holder ul li .sub-menu li.menu-item-category-47>a:hover, .post .single_category_title.category-link-47
	{
	color: #f30e0e;
}

.menu-holder ul.sf-menu>li.menu-item-category-47>a+.thb_mega_menu_holder
	{
	border-color: #f30e0e;
}

.post .single_category_title.category-boxed-link-47.boxed-link,
	.category_title.cat-47:before, .category-title.style1 .category-header.cat-47
	{
	background-color: #f30e0e;
}

.post.carousel-style2[data-catid="47"]:hover {
	background-color: #f30e0e;
}

.header .menu-holder ul.sf-menu>li.menu-item-category-51>a:hover,
	.menu-holder.style1 ul.sf-menu>li.menu-item-category-51>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-51>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-51.active>a,
	.menu-holder ul li .sub-menu li.menu-item-category-51>a:hover, .post .single_category_title.category-link-51
	{
	color: #31d207;
}

.menu-holder ul.sf-menu>li.menu-item-category-51>a+.thb_mega_menu_holder
	{
	border-color: #31d207;
}

.post .single_category_title.category-boxed-link-51.boxed-link,
	.category_title.cat-51:before, .category-title.style1 .category-header.cat-51
	{
	background-color: #31d207;
}

.post.carousel-style2[data-catid="51"]:hover {
	background-color: #31d207;
}

.header .menu-holder ul.sf-menu>li.menu-item-category-183>a:hover,
	.menu-holder.style1 ul.sf-menu>li.menu-item-category-183>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-183>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-183.active>a,
	.menu-holder ul li .sub-menu li.menu-item-category-183>a:hover, .post .single_category_title.category-link-183
	{
	color: #1b88cd;
}

.menu-holder ul.sf-menu>li.menu-item-category-183>a+.thb_mega_menu_holder
	{
	border-color: #1b88cd;
}

.post .single_category_title.category-boxed-link-183.boxed-link,
	.category_title.cat-183:before, .category-title.style1 .category-header.cat-183
	{
	background-color: #1b88cd;
}

.post.carousel-style2[data-catid="183"]:hover {
	background-color: #1b88cd;
}

.header .menu-holder ul.sf-menu>li.menu-item-category-172>a:hover,
	.menu-holder.style1 ul.sf-menu>li.menu-item-category-172>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-172>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-172.active>a,
	.menu-holder ul li .sub-menu li.menu-item-category-172>a:hover, .post .single_category_title.category-link-172
	{
	color: #28d7bc;
}

.menu-holder ul.sf-menu>li.menu-item-category-172>a+.thb_mega_menu_holder
	{
	border-color: #28d7bc;
}

.post .single_category_title.category-boxed-link-172.boxed-link,
	.category_title.cat-172:before, .category-title.style1 .category-header.cat-172
	{
	background-color: #28d7bc;
}

.post.carousel-style2[data-catid="172"]:hover {
	background-color: #28d7bc;
}

.header .menu-holder ul.sf-menu>li.menu-item-category-56>a:hover,
	.menu-holder.style1 ul.sf-menu>li.menu-item-category-56>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-56>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-56.active>a,
	.menu-holder ul li .sub-menu li.menu-item-category-56>a:hover, .post .single_category_title.category-link-56
	{
	color: #31d207;
}

.menu-holder ul.sf-menu>li.menu-item-category-56>a+.thb_mega_menu_holder
	{
	border-color: #31d207;
}

.post .single_category_title.category-boxed-link-56.boxed-link,
	.category_title.cat-56:before, .category-title.style1 .category-header.cat-56
	{
	background-color: #31d207;
}

.post.carousel-style2[data-catid="56"]:hover {
	background-color: #31d207;
}

.header .menu-holder ul.sf-menu>li.menu-item-category-29>a:hover,
	.menu-holder.style1 ul.sf-menu>li.menu-item-category-29>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-29>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-29.active>a,
	.menu-holder ul li .sub-menu li.menu-item-category-29>a:hover, .post .single_category_title.category-link-29
	{
	color: #28d7bc;
}

.menu-holder ul.sf-menu>li.menu-item-category-29>a+.thb_mega_menu_holder
	{
	border-color: #28d7bc;
}

.post .single_category_title.category-boxed-link-29.boxed-link,
	.category_title.cat-29:before, .category-title.style1 .category-header.cat-29
	{
	background-color: #28d7bc;
}

.post.carousel-style2[data-catid="29"]:hover {
	background-color: #28d7bc;
}

.header .menu-holder ul.sf-menu>li.menu-item-category-16>a:hover,
	.menu-holder.style1 ul.sf-menu>li.menu-item-category-16>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-16>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-16.active>a,
	.menu-holder ul li .sub-menu li.menu-item-category-16>a:hover, .post .single_category_title.category-link-16
	{
	color: #1b88cd;
}

.menu-holder ul.sf-menu>li.menu-item-category-16>a+.thb_mega_menu_holder
	{
	border-color: #1b88cd;
}

.post .single_category_title.category-boxed-link-16.boxed-link,
	.category_title.cat-16:before, .category-title.style1 .category-header.cat-16
	{
	background-color: #1b88cd;
}

.post.carousel-style2[data-catid="16"]:hover {
	background-color: #1b88cd;
}

.category-title.style1 .category-header.cat-16 {
	background-image:
		url(http://ptdfx1yye4z3tcsy8l12bdc1.wpengine.netdna-cdn.com/wp-content/uploads/2015/10/rocket.jpg);
}

.header .menu-holder ul.sf-menu>li.menu-item-category-119>a:hover,
	.menu-holder.style1 ul.sf-menu>li.menu-item-category-119>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-119>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-119.active>a,
	.menu-holder ul li .sub-menu li.menu-item-category-119>a:hover, .post .single_category_title.category-link-119
	{
	color: #28d7bc;
}

.menu-holder ul.sf-menu>li.menu-item-category-119>a+.thb_mega_menu_holder
	{
	border-color: #28d7bc;
}

.post .single_category_title.category-boxed-link-119.boxed-link,
	.category_title.cat-119:before, .category-title.style1 .category-header.cat-119
	{
	background-color: #28d7bc;
}

.post.carousel-style2[data-catid="119"]:hover {
	background-color: #28d7bc;
}

.header .menu-holder ul.sf-menu>li.menu-item-category-33>a:hover,
	.menu-holder.style1 ul.sf-menu>li.menu-item-category-33>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-33>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-33.active>a,
	.menu-holder ul li .sub-menu li.menu-item-category-33>a:hover, .post .single_category_title.category-link-33
	{
	color: #501cf9;
}

.menu-holder ul.sf-menu>li.menu-item-category-33>a+.thb_mega_menu_holder
	{
	border-color: #501cf9;
}

.post .single_category_title.category-boxed-link-33.boxed-link,
	.category_title.cat-33:before, .category-title.style1 .category-header.cat-33
	{
	background-color: #501cf9;
}

.post.carousel-style2[data-catid="33"]:hover {
	background-color: #501cf9;
}

.header .menu-holder ul.sf-menu>li.menu-item-category-81>a:hover,
	.menu-holder.style1 ul.sf-menu>li.menu-item-category-81>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-81>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-81.active>a,
	.menu-holder ul li .sub-menu li.menu-item-category-81>a:hover, .post .single_category_title.category-link-81
	{
	color: #fbc713;
}

.menu-holder ul.sf-menu>li.menu-item-category-81>a+.thb_mega_menu_holder
	{
	border-color: #fbc713;
}

.post .single_category_title.category-boxed-link-81.boxed-link,
	.category_title.cat-81:before, .category-title.style1 .category-header.cat-81
	{
	background-color: #fbc713;
}

.post.carousel-style2[data-catid="81"]:hover {
	background-color: #fbc713;
}

.header .menu-holder ul.sf-menu>li.menu-item-category-58>a:hover,
	.menu-holder.style1 ul.sf-menu>li.menu-item-category-58>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-58>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-58.active>a,
	.menu-holder ul li .sub-menu li.menu-item-category-58>a:hover, .post .single_category_title.category-link-58
	{
	color: #31d207;
}

.menu-holder ul.sf-menu>li.menu-item-category-58>a+.thb_mega_menu_holder
	{
	border-color: #31d207;
}

.post .single_category_title.category-boxed-link-58.boxed-link,
	.category_title.cat-58:before, .category-title.style1 .category-header.cat-58
	{
	background-color: #31d207;
}

.post.carousel-style2[data-catid="58"]:hover {
	background-color: #31d207;
}

.header .menu-holder ul.sf-menu>li.menu-item-category-155>a:hover,
	.menu-holder.style1 ul.sf-menu>li.menu-item-category-155>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-155>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-155.active>a,
	.menu-holder ul li .sub-menu li.menu-item-category-155>a:hover, .post .single_category_title.category-link-155
	{
	color: #f30e0e;
}

.menu-holder ul.sf-menu>li.menu-item-category-155>a+.thb_mega_menu_holder
	{
	border-color: #f30e0e;
}

.post .single_category_title.category-boxed-link-155.boxed-link,
	.category_title.cat-155:before, .category-title.style1 .category-header.cat-155
	{
	background-color: #f30e0e;
}

.post.carousel-style2[data-catid="155"]:hover {
	background-color: #f30e0e;
}

.header .menu-holder ul.sf-menu>li.menu-item-category-175>a:hover,
	.menu-holder.style1 ul.sf-menu>li.menu-item-category-175>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-175>a:hover,
	.menu-holder ul li.menu-item-mega-parent .thb_mega_menu_holder .thb_mega_menu li.menu-item-category-175.active>a,
	.menu-holder ul li .sub-menu li.menu-item-category-175>a:hover, .post .single_category_title.category-link-175
	{
	color: #f30e0e;
}

.menu-holder ul.sf-menu>li.menu-item-category-175>a+.thb_mega_menu_holder
	{
	border-color: #f30e0e;
}

.post .single_category_title.category-boxed-link-175.boxed-link,
	.category_title.cat-175:before, .category-title.style1 .category-header.cat-175
	{
	background-color: #f30e0e;
}

.post.carousel-style2[data-catid="175"]:hover {
	background-color: #f30e0e;
}

#subfooter {
	
}

@media only screen and (min-width:48.063em) {
	#subfooter .subfooter-menu-holder .logolink .logoimg {
		max-height: 25px;
	}
}
